.note-container{
    height:100%;

}
.note-container h2{
    margin-bottom: 20px;
}
.note-container_notes{
    height:90%;
    overflow-y: scroll;
    display:flex;
    flex-wrap: wrap;
    gap:20px;
}